<div class="border-start border-4 ps-2">
  <p class="m-0 fw-bolder"><%= @question %></p>
  <p fst-italic="fst-italic">- You</p>
</div>

<div class="border-start border-4 ps-2">
  <p class="m-0 fw-bolder"><%= @coach_answer %></p>
  <p class="fst-italic">- Your coach</p>
</div>
